<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content" class="text-center">
    <ion-label class="text-blue-600 text-lg font-semibold">Crear una Cuenta</ion-label><br><br>

    <!-- Input de Nombre Completo -->
    <ion-label class="text-blue-600 text-lg font-semibold">Nombre Completo</ion-label><br>
    <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 " #nameInput
      type="text" required placeholder="Ingresa tu nombre"><br><br>

    <!-- Input de Email -->
    <ion-label class="text-blue-600 text-lg font-semibold">Email</ion-label><br>
    <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 " #emailInput
      type="email" required placeholder="Ingresa tu correo"><br><br>

    <!-- Input de Contraseña -->
    <ion-label class="text-blue-600 text-lg font-semibold">Contraseña</ion-label><br>
    <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 " #passwordInput
      type="password" required placeholder="Ingresa tu contraseña"><br><br>

    <!-- Input de Confirmar Contraseña -->
    <ion-label class="text-blue-600 text-lg font-semibold">Confirmar Contraseña</ion-label><br>
    <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 "
      #confirmPasswordInput type="password" required placeholder="Confirma tu contraseña"><br><br>

    <!-- Botón de Registro -->
    <button
      class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-semibold font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
      expand="full" type="submit">Registrarse</button>

    <!-- Enlace para regresar a la página de login -->
    <p class="mt-2">
      <a href="/login" class="text-blue-600 hover:underline">¿Ya tienes cuenta? Inicia sesión</a>
    </p>
  </div>
</ion-content>