<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content" class="text-center">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <ion-label class="text-gray-400 text-lg font-semibold">Iniciar Sesión</ion-label><br>
      <!--Email aqui-->
      <ion-label class="text-gray-400 text-lg font-semibold">Email</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" #emailInput
        type="email" name="email" id="email" required placeholder="email@gmail.com" #email="ngModel"><br>
      <div *ngIf="email.invalid && email.touched" style="color:red;">Please enter a valid email</div>
      <!--Password aqui-->
      <ion-label class="text-gray-400 text-lg font-semibold">Contraseña</ion-label><br>
      <input name="password" id="password" ngModel
        class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" #passInput
        type="password" required placeholder="........."><br><br>
      <!--Boton aqui-->
      <button
        class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-semibold font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
        expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>

    </form>

    <button (click)="onReset()"
      class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-semibold font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
      expand="full">Reinicia tu contraseña</button>

    <button (click)="onSignup()"
      class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-semibold font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
      expand="full">Registrate</button>




  </div>

</ion-content>